.custom-center {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  z-index: 2;
  padding: 0 25px 10px;
  width: 100%;
  height: 100%;

  .standard-page-layout-container {
    &.content-card-white {
      box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
      background-color: #1f2251;
    }
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
}
