<footer class="footer">
  <div class="">
    <div class="row">
      <div class="col-md-3"><h1 class="title">E•</h1></div>
      <div class="col-md-3">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']"> Encuestas </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/landing']"> Landing </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']"> Register </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/profile']"> Profile </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
